@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.h-screen {
  height: 100svh;
}

.h-home {
  height: 99svh;
}

.h-homecontent {
  height: calc(100svh - 10% - 80px);
}

.no-drag {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes movein {
  from {
    top: -200px;
  }
  to {
    top: 7px;
  }
}

@keyframes moveout {
  from {
    top: 7px;
  }
  to {
    top: -200px;
  }
}

.expandable {
  animation: movein 0.5s ease forwards, moveout 0.5s 10s ease forwards;
}

/* Change Autocomplete styles in Chrome*/
/* Works correctly on signup and login, maybe in other fields will cause problems */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid transparent;
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px #046255 inset;
  color: white;
}

@keyframes opacity {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.appearedInfo {
  animation: opacity 1s;
}

.appearedContent {
  animation: opacity 0.5s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-md-top {
  --tw-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 -4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm-top {
  --tw-shadow: 0 -1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 -1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.scrollnice::-webkit-scrollbar {
  width: 12px;
}

.scrollnice::-webkit-scrollbar-thumb {
  background: #046255;
  border-radius: 30px;
}

.scrollnice::-webkit-scrollbar-track {
  background: rgb(227, 238, 236);
  border-radius: 0 30px 30px 0;
}

.darkrightgrad {
  background-image: linear-gradient(135deg, #046255 35%, #000000 100%);
}
.lightcentergrad {
  background-image: linear-gradient(180deg, #ffffff 35%, #abcbc6 100%);
}
.lightleftgrad {
  background-image: linear-gradient(225deg, #ffffff 35%, #abcbc6 100%);
}
.lightrightgrad {
  background-image: linear-gradient(135deg, #ffffff 35%, #abcbc6 100%);
}
.gradient-both {
  background-image: linear-gradient(135deg, #000000 0%, #046255 35%, #000000 100%);
}
.gradient-bottom {
  background-image: linear-gradient(180deg, #046255 35%, #000000 100%);
}
.gradient-top {
  background-image: linear-gradient(360deg, #046255 35%, #000000 100%);
}
.gradient-right {
  background-image: linear-gradient(90deg, #046255 35%, #000000 100%);
}
.gradient-left {
  background-image: linear-gradient(-90deg, #046255 35%, #000000 100%);
}
.border-grad {
  border-color: linear-gradient(90deg, #ffffff, #00000000);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(227, 238, 236);
}

::-webkit-scrollbar-thumb {
  background: darkgray;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}
